In [ ]:
import numpy as np
import pandas as pd
import os

CSV_PATH =os.getcwd() + "\\tp2_data.csv"
df = pd.read_csv(CSV_PATH,sep=';',
    quotechar='"',
    engine='python'
    )
#print(df["Année"])

#df [ 33: 35 ]

#df.loc[0,"taux fertilité j. femmes"]
#df.iloc[0,1]

dfi = df.set_index("Année") 
#print(dfi)

#df.values
#df[["Année"]].values

#create rows
#rows = [{"Année":1960, "taux fertilité j. femmes":4.97929949835611},{"taux fertilité j. femmes":2.97929949835611}]
#pd.DataFrame(rows)

df["sup_50"] = (df["esperance vie"]> 50)
print("df")

,Année,taux fertilité j. femmes,femmes scol. sec.,esperance vie,accès electricité,emission CO2,conso élec per capita,surface foret
0,1960,4.979299,NaN,52.581916,NaN,NaN,NaN,NaN
1,1961,5.003564,NaN,53.075105,NaN,NaN,NaN,NaN
2,1962,5.025367,NaN,53.492420,NaN,NaN,NaN,NaN
3,1963,5.045551,NaN,54.017514,NaN,NaN,NaN,NaN
4,1964,5.056470,NaN,54.687504,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
56,2016,2.444849,65.84860,72.186230,87.378443,3.301856e+07,NaN,39958245.9
57,2017,2.427295,66.26728,72.391699,NaN,3.351454e+07,NaN,NaN
58,2018,2.414922,66.26578,72.574415,NaN,3.428935e+07,NaN,NaN
59,2019,2.401720,NaN,72.763223,NaN,3.434401e+07,NaN,NaN
60,2020,2.387123,NaN,72.747919,NaN,NaN,NaN,NaN